body { 
    display: flex; 
    margin: 0; 
    padding: 0;
    min-height: 100%;
    text-align: center; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

#card{ 
    border: 2px solid black; 
} 

#header{
    text-align: left;
}

#passwords {
    justify-content: center;
    display: flex;
    gap: 20px;
}